.lessonsWrapper {
    width: 100vw;
    height: fit-content;
    background-color: transparent;
    font-family: "Kadwa";
    background-color: #f9a84d;
}

.hide>* {
    opacity: 0;
}

.show>* {
    opacity: 1;
}

.top {
    width: 100vw;
    display: grid;
    place-items: center;
    height: fit-content;
}

.top>h1 {
    width: fit-content;
    text-align: center;
    color: #e59e05;
    margin-top: 5rem;
    text-shadow: 2px 2px 7px -2px black;
    padding: .5rem clamp(.5rem, 5vw, 5rem);
    font-size: clamp(1rem, 5vw, 3rem);
    background-color: white;
    border-radius: 3rem;
    box-shadow: 2px 2px 7px -2px black;
}

.top .showTitle {
    opacity: 0;
    transform: translateY(100px);
    animation: popLesson .5s .3s ease-in forwards;
}

.bottom {
    width: 100vw;
    height: 100%;
    display: flex;
    gap: 2rem;
    margin: auto;
    position: relative;
}

.bottom .slideButtons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    z-index: 1;
}

.bottom>button {
    font-size: 3rem;
    width: 3.5rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
    color: white;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #f5b11f;
    outline: none;
    cursor: pointer;
    transition: all .2s ease-out;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#toRight {
    right: 0;
}

.bottom .lessonsBox {
    width: 100vw;
    height: 450px;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: auto;
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}


.bottom .lessonsBox .lessonWrapper {
    width: 300px;
    height: 400px;
    padding: .75rem .3rem;
    background-color: white;
    box-shadow: 2px 2px 7px -2px black;
    border-radius: 1.3rem;
    flex-shrink: 0;
    opacity: 0;
    transform: translateY(200px);
    transition: all .3s ease-in;
    cursor: pointer;
}

.bottom .lessonsBox .showCard:nth-child(1) {
    animation: popLesson .5s calc(.3s * 1) ease-in forwards;
}

.bottom .lessonsBox .showCard:nth-child(2) {
    animation: popLesson .5s calc(.3s * 2) ease-in forwards;
}

.bottom .lessonsBox .showCard:nth-child(3) {
    animation: popLesson .5s calc(.3s * 3) ease-in forwards;
}

.bottom .lessonsBox .showCard:nth-child(4) {
    animation: popLesson .5s calc(.3s * 4) ease-in forwards;
}

.bottom .lessonsBox .lessonWrapper:hover {
    scale: 1.05;
}

.bottom .lessonsBox .lessonWrapper:first-child {
    margin-left: 3rem;
}

.bottom .lessonsBox .lessonWrapper .imageContainer {
    width: 100%;
    height: 155px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom .lessonsBox .lessonWrapper .imageContainer>img {
    width: 100%;
}

.bottom .lessonsBox .lessonWrapper .contentBox>* {
    margin: .5rem;
}

.bottom .lessonsBox .lessonWrapper .contentBox>p {
    height: calc(400px - 200px);
    overflow-y: scroll;
}

.bottom .lessonsBox .lessonWrapper .contentBox>p::-webkit-scrollbar {
    display: none;
}

@keyframes popLesson {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 600px) and (max-height: 800px) {
    .bottom .lessonsBox .lessonWrapper {
        width: 240px;
        height: 300px;
    }

    .bottom .lessonsBox .lessonWrapper:first-child {
        margin-left: 1.5rem;
    }

    .bottom .lessonsBox .lessonWrapper .contentBox>p {
        height: calc(300px - 200px);
        overflow-y: scroll;
    }
}