button {
    cursor: pointer;
    transition: .2s ease-out;
}

.hideComponents>* {
    opacity: 0;
}

.animate .left {
    opacity: 0;
    transform: translateY(100vh);
    animation: leftUp .7s 0s ease-out forwards;
}

.animate .right {
    opacity: 0;
    transform: translateY(100vh);
    animation: rightUp .7s .5s ease-out forwards;
}

@keyframes leftUp {
    to {
        opacity: 1;
        transform: translateY(0vh);
    }
}

@keyframes rightUp {
    to {
        opacity: 1;
        transform: translateY(0vh);
    }
}

.lessons {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    font-family: Kadwa;
    background: #f1f1f1;
    position: relative;
}

.lessons>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.lessons .wrapper {
    display: flex;
    width: 100vw;
    height: fit-content;
    gap: 3rem;
    height: 90vh;
}


.lessons .left {
    align-content: center;
    justify-content: center;
}

.lessons .left .image {
    width: 40vw;
    border-radius: 3rem;
    border: 5px;
    border-style: dashed;
}

.lessons .left .show {
    opacity: 0;
    animation: popUp .3s ease-out forwards;
}

@keyframes popUp {
    to {
        opacity: 1;
    }
}

.lessons .left .hide {
    display: none;
}

.lessons .right .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    gap: .5rem;
}

.lessons .right .show {
    display: flex;
}

.lessons .right .hide {
    display: none;
}

.lessons .right .wrapper h2 {
    width: 40vw;
    display: grid;
    place-content: center;
    overflow: hidden;
    overflow-x: auto;
    padding: .5rem 0;
    background-color: #f9a84d;
    color: whitesmoke;
    border-radius: .25rem;
}

.lessons .right .wrapper span {
    font-size: clamp(1.5rem, 5vw, 1.75rem);
    text-align: center;
}

.right .show>h2>span {
    opacity: 0;
    animation: showText .3s ease-out forwards;
}

.right .hide>h2>span {
    opacity: 1;
    animation: hideText .3s ease-out forwards;
}

@keyframes showText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideText {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.lessons .right .wrapper .contentWrapper {
    width: 100%;
    height: 100%;
    background-color: #f9a84d;
    color: whitesmoke;
    width: 40vw;
    border-radius: .25rem;
    display: grid;
    place-items: center;
    overflow: hidden;
    overflow-y: auto;
}

.lessons .right .wrapper .contentWrapper .content {
    width: 80%;
    height: 90%;
    text-indent: 1cm;
    overflow: hidden;
    overflow-y: auto;
    opacity: 0;
    transform: translateX(100%);
    animation: slide .3s ease-out forwards;
}

.lessons .right .wrapper .contentWrapper .content::-webkit-scrollbar {
    width: 5px;
    background-color: var(--buttColor);
}


.lessons .right .wrapper .contentWrapper .content::-webkit-scrollbar-track {
    background-color: #e8be76;
}


.lessons .right .wrapper .contentWrapper .content::-webkit-scrollbar-thumb {
    background-color: #a5a3a3;
    border-radius: 2rem;
}


@keyframes slide {
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.lessons .buttons {
    width: 90vw;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    margin: 2rem 0;
}

.lessons .buttons>button {
    background-color: transparent;
    color: #a79f9f;
    border: none;
    font-weight: bold;
    border-radius: .25rem;
    font-size: 3rem;
    width: 6rem;
    height: 6rem;

}

.lessons .buttons .disabled {
    filter: brightness(.8);
}

.lessons .buttons .abled {
    color: black;
}

.lessons .buttons .abled:hover {
    color: rgb(58, 56, 56);
}

.lessons .buttons>.abled:active {
    background-color: #f1f1f1;
}



@media (max-width: 600px) and (max-height: 900px) {
    .lessons {
        flex-direction: column;
        height: fit-content;
        padding: 2rem 0;
    }

    .lessons .wrapper {
        flex-direction: column-reverse;
        gap: 0;
        height: fit-content;
    }

    .lessons .buttons>button {
        background-color: transparent;
        color: #a79f9f;
        border: none;
        font-weight: bold;
        border-radius: .25rem;
        font-size: 3rem;
        width: 4rem;
        height: 4rem;
    }

    .lessons>div {
        width: 100vw;
        height: fit-content;
    }

    .lessons .left {
        height: fit-content;
        margin: 2rem 0 0 0;
    }

    .lessons .left .wrapper {
        width: 90vw;
        height: fit-content;
    }

    .lessons .left .image {
        width: 15rem;
    }

    .lessons .right {
        height: fit-content;
    }

    .lessons .right .wrapper {
        width: 90vw;
        height: 50vh;
        transform: translateY(0);
    }

    .lessons .right .wrapper>h2 {
        width: 90vw;
    }

    .lessons .right .wrapper .contentWrapper {
        width: 90vw;
        height: 50vh;
    }

    .lessons .right .wrapper .buttons {
        width: 90vw;
    }


}

@media (max-width: 600px) and (max-height: 400px) {
    .lessons .right .wrapper {
        height: 80vh;
    }

}